<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Meus Livros</title>
  </head>
  <body>
    <header class="header">
      <div class="header-content">
        <h1>Meus livros</h1>
        <a id="biblioteca" href="/">Pesquisar livros</a>
      </div>
    </header>

    <main class="content-container">
      <div class="books-grid"></div>
    </main>

    <script type="module" src="/js/main.js"></script>
  </body>
</html>
